body {
	height: 100vh;
    width: 100%; 
    font-family: 'Amatic SC', sans-serif;
	font-size: 40px;
	color: rgb(235,235,235);
	background-image: url('./hamburger.webp');
    background-size: cover;
	background-color: #0005; background-blend-mode: darken;
	margin: 0;
}



nav {
	overflow: hidden;
  	position: relative; /* Set the navbar to fixed position */
  	top: 0; /* Position the navbar at the top of the page */
  	width: 100%; /* Full width */
	height: fit-content;
	
}
	
    
nav ol, nav ul {
    list-style: none;
	margin-top: 0;
	
}

nav li {
	display:block;
	width:120px;
	float:left;
	margin-left:5px;
	
}

nav a {
	display:block;
	padding-right:6px;
	text-decoration:none;
	background-color:#fff;
	color:rgb(100,0,0);
}


nav a:hover {
	background-color: rgb(100,0,0);
	color:#fff;
	font-weight: 900;
}

#content {
	height: 90vh;
}

main {
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-bottom: 30px;
	
}

footer {
	position: relative;
	font-size: 2rem;
	bottom: 0;
	
	text-align: end;
}

#food-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#food-menu .heading {
	font-size: 6rem;
}

.item-container {
	display: grid;
	width: 480px;
	grid-template-columns: 6fr 1fr;
	grid-template-rows:  1fr 1fr;
}
